@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Bai+Jamjuree:wght@300;400;500;600;700&family=Dancing+Script:wght@600&family=Heebo:wght@100;200;300;400;500;600;700;800&family=IBM+Plex+Serif:wght@200;300;400;500&family=Inter:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Playfair+Display:wght@500&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;800&family=Raleway:ital@1&family=Roboto+Slab:wght@200;300;500;600;700&family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background: rgba(7, 209, 132, 1); */

}
body{
    font-family: Plus Jakarta Sans;
    background: #07D184;
width: 100%;
height: 100vh;

}
header{
    display: flex;
    align-items: start;
    width: 100%;
justify-content: space-between;
}

.aside{
    width: 250px;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    right: -250px;
}
#sidebar .active{
position: relative;
right: 0;
}

.aside img {
margin-top: 30px;
margin-right: 30px;
}
.aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
gap: 1rem;
margin-top: 30px;
margin-right: 50px;
}
.aside li {
cursor: pointer;
    color: #777777;
    font-size: 22px;
    margin-bottom: 8px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}

.sec-flex{
    width: 100%;
    background: #07D184;
/* border: 1px solid red; */
    display: flex;
    align-items: center;
justify-content: space-between;
}
 .toggle{

    display: flex;
    align-self: center;
justify-content: center;

}
.toggle i {
    font-size: 22px;
    margin-right: 20px;
    margin-top: 10px;
color: white;
}
.toggle h3{
    color: white;
font-size: 30px;
font-family: Plus Jakarta Sans;
font-weight: 800;
line-height: 34px;
letter-spacing: 0.50px;
word-wrap: break-word;
    margin-right: 20px;
}
.sec-img{


    margin-left: 30px;
    margin-top: 10px;
}
.sec-img img {
    border-radius: 32px;
}